{% extends 'base.html' %}

{% block content %}
<div class="form-contenaire">
    <form method='POST' class='flex flex-col mx-auto w-8/12 gap-2'>
        {{login_form.email}}
        {{login_form.password}}
        <button type = 'submit'>Log in</button>
        <div>
            <p><a href="{% url 'register' %}" class='mr-2 text-orange-500'>Create account</a>|
                <a href="{% url 'password_reset' %}" class='mr-2'>password forget</a></p>
        </div>
        {% csrf_token %}
    </form>
</div>
    
{% endblock content %}