{% extends 'base.html' %}

{% block content %}
<div class="form-contenaire">
    <form method ='POST'>
        <div class= 'flex flex-col'>
            <label for="new_password1">Password *</label>
            {{ form.new_password1}}
        </div>
        <div class='flex flex-col'>
            <label for="new_password2">Confirm password *</label>
            {{form.new_password2}}
        </div>
        <button type'submit'>Reset</button>
        {% csrf_token %}
    </form>
</div>
{% endblock content %}