{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div  class="dash-container">
            <div id ="appid" class="app-icon">
                {% include  'partials/app_icon.html'%}
            </div>
            <div id = 'sideid' class="side-bar">
                <div id ="close_side" class="close_side">
                    {% include  'partials/cancel_icon.html'%}
                </div>
                <div  class="side-content">
                    <div class='mb-8 bg-gray-800 w-6/12'>
                        <a href = "{% url 'home' %}" class="logo font-bold text-2xl">cvGen</a>
                    </div>
                    
                    <ul>
                        <li>
                            <a class = "" href = "{% url 'add_profile' %}"><i class= "fas fa-user mr-2"></i>Add your Profile</a>
                        </li>
                        <li>
                            <a  href =" {% url 'add_experience' %} "><i class="fa-solid fa-star mr-2"></i>Add experience</a>
                        </li>
                        <li>
                            <a  href =" {% url 'add_project' %} "><i class="fa-solid fa-list-check mr-2"></i>Add project</a>
                        </li>
                        <li>
                            <a class = "" href = "{% url 'add_education' %}"><i class= "fas fa-graduation-cap mr-2"></i>Add education</a>
                        </li>
                        <li>
                            <a class = "" href = "{% url 'add_skill' %}"><i class="fa-sharp fa-solid fa-toolbox mr-2"></i>Add skill</a>
                        </li>
                        <li>
                            <a  href =" {% url 'add_technical_skill' %} "><i class="fa-solid fa-screwdriver-wrench mr-2"></i>Add tech skill</a>
                        </li>
                       
                        <li>
                            <a  href =" {% url 'add_langue' %} "><i class="fa-solid fa-language mr-2"></i></i>Add langue</a>
                        </li>
                        <li>
                            <a  href =" {% url 'logout' %} "><i class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="dash-content mr-2">
                
                <div class="cv">
                    <div class='flex justify-between bg-gray-800 mb-8 px-2'>
                        <h3 class="font-bold text-gray-100">Your CV</h3>
                        <a href="{% url 'download' %}" class='text-gray-100'>download</a>
                    </div>
                    <div class="cv-detail">
                        {% if profile %}
                            <div class="profile">
                                <div class="profile-detail">
                                    <div class="profile-img-name">
                                        {% if user.profile.photo %}
                                            <div class="profile-img">
                                                <img class="photo" src={{user.profile.photo.url}}>
                                            </div>
                                        {% endif %}
                                        <div class="name">
                                            <h2>{{user.profile.first_name}}</h2>
                                            <h2>{{user.profile.last_name}}</h2>
                                        </div>
                                    </div>
                                    <div class="profile-contact my-4">
                                        <li class='mx-2 font-bold'><i class='fas fa-phone mr-2'></i>{{user.profile.phone}}</li>
                                        <li class='mx-2 font-bold'><i class="fa-solid fa-envelope mr-2"></i>{{user.profile.email}}</li>
                                        <li class='mx-2 font-bold'><i class="fa-solid fa-location-dot mr-2"></i>{{user.profile.adress}}</li>
                                    </div>
                                </div>
                                <div class="profile-bio">
                                    <h1>Profil</h1>
                                    <p>{{user.profile.bio}}</p>
                                </div>
                                <div class="edit-del">
                                    <a class = "edit" href = "{% url 'edit_profile' user.profile.id %}"><i class="fas fa-pen"></i></a>
                                    <a class = "del" href = "{% url 'del_profile' user.profile.id %}"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if experiences %}
                            <div class="experience">
                                <h1 class = "title">Eperiences</h1>
                                <div class="experience-detail">
                                    {% for experience  in experiences %}
                                        <div class="experience-conent">
                                            <div class="edit-del">
                                                <a class = "edit" href = "{% url 'edit_experience' experience.id %}"><i class="fas fa-pen"></i></a>
                                                <a class = "del" href = "{% url 'del_experience' experience.id %}"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <div class="">
                                                <p class ="title-h2"> <span> {{experience.get_start_date}} - {{experience.get_end_date}}</span></p>
                                                <p class ="title-h3"><span>{{experience.company}}</span> | <span>{{experience.poste}}</span></p>
                                                <p>{{experience.description}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if projects %}
                            <div class="project">
                                <h1>Projects</h1>
                                <div class="project-detail">
                                    {% for project in projects %}
                                        <div class="project-content">
                                            <div class="edit-del">
                                                <a class = "edit" href = "{% url 'edit_project' project.id %}"><i class="fas fa-pen"></i></a>
                                                <a class = "del" href = "{% url 'del_project' project.id %}"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <div class="">
                                                <h3 class='title-h3'>{{project.name}}</h3>
                                                <p>{{project.detail}}</p>
                                            </div>
                                        </div>   
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if educations %}
                            <div class="education">
                                <h1 class = "title" >Educations</h1>
                                {% for education in educations %}
                                <div class="education-content">
                                    <div class="edit-del">
                                        <a class = "edit" href = "{% url 'edit_education' education.id %}"><i class="fas fa-pen"></i></a>
                                        <a class = "del" href = "{% url 'del_education' education.id %}"><i class="fas fa-trash"></i></a>
                                    </div>
                                    <div class="education-detail">
                                        <p class ="title-h2"><span>{{education.start_at.year}} - {{education.end_at.year}}</span> | <span>{{education.etablisement}}</span></p>
                                        <p class ="title-h3"><span >{{education.level}}</span> - <span>{{education.name}}</span></p>
                                        <p>{{education.description}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if skills %}
                            <div class="Skills">
                                <h1 class = "title">Skills</h1>
                                <div class="skill-detail">
                                    {% for skill in skills %}
                                        <div class="skill-name">
                                            <div class="edit-del">
                                                <a class = "edit" href = "{% url 'edit_skill' skill.id %}"><i class="fas fa-pen"></i></a>
                                                <a class = "del" href = "{% url 'del_skill' skill.id %}"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <p class='title-h3'>{{skill.name}},</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if technical_skills %}
                            <div class="technical-skills">
                                <h1 class = "title">Technical Skills</h1>
                                <div class="tech-detail">
                                    {% for tech_skill in technical_skills %}
                                        <div class="tech-content">
                                            <div class="edit-del">
                                                <a class = "edit" href = "{% url 'edit_technical_skill' tech_skill.id %}"><i class="fas fa-pen"></i></a>
                                                <a class = "del" href = "{% url 'del_technical_skill' tech_skill.id %}"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <p>{{tech_skill.name}}</p>
                                            <div class="level" style = "with:100%" >
                                                <div class="level-content" style = "width:{{tech_skill.level}}% ; height:10px;">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if langues %}
                            <div class="langues">
                                <h1 class = "title">Langues</h1>
                                <div class="langue-detail">
                                    {% for langue in langues %}
                                        <div class="langue-content">
                                            <div class="edit-del">
                                                <a class = "edit" href = "{% url 'edit_langue' langue.id %}"><i class="fas fa-pen"></i></a>
                                                <a class = "del" href = "{% url 'del_langue' langue.id %}"><i class="fas fa-trash"></i></a>
                                            </div>
                                            <p>{{langue.name}}</p>
                                            <div class="level" style = "with:100%">
                                                <div class="level-content" style = "width:{{langue.level}}% ; height:10px;">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script src = "{% static 'main.js' %}"></script>
    </body>
</html>